@import "./reset.css";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

:root {
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 100%, 100%);

  --main-width: 60ch;

  --elevate-1: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  --elevate-2: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);

  font-family: "Inter", sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

:is(h1, h2, h3) {
  font-weight: 500;
}

h1 {
  font-size: 2.369em;
}

h2 {
  font-size: 1.777em;
}

h3 {
  font-size: 1.333em;
}

.page-wrap {
  /* margin-inline: auto;
  max-width: 60ch; */
  height: 100%;
}

.page-wrap main {
  min-height: 100%;
  margin-inline: auto;
  max-width: var(--main-width);

}
