---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>Sunbear Astro About Page</h1>

  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia illum
    ratione laudantium quisquam, culpa adipisci minima maiores ipsam. Eum
    perferendis ratione quasi culpa illum consequuntur nostrum debitis rerum hic
    recusandae.
  </p>
</BaseLayout>
