---
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<style>
  .cards {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    margin-block: 2rem;
  }
</style>

<BaseLayout>
  <h1>Sunbear Notes</h1>

  <div class="cards">
    <Card href="/css-reset" title="CSS Reset" body="Minimal reset." />
    <Card href="/git-notes" title="Git Notes" body="Some basic Git reference notes for quick lookup." />
  </div>
</BaseLayout>
