---
import "../styles/global.css"
---

<a href={ Astro.props.href }>
  <h2>{ Astro.props.title }</h2>
  <p>{ Astro.props.body }</p>
</a>

<style>
  a {
    border-radius: 0.6em;
    box-shadow: var(--elevate-1);
    color: var(--color-black);
    display: block;
    padding: 1em;
    text-decoration: none;
  }

  a:hover {
    box-shadow: var(--elevate-2);
  }
</style>