---

---

<a href={ Astro.props.href }>
  <h2>{ Astro.props.title }</h2>
  <p>{ Astro.props.body }</p>
  <p>I'm some extra text!!</p>
</a>

<style>
  a {
    max-width: 50ch;
    border: 1px solid black;
    padding: 1em;
    display: block;
    text-decoration: none;
    color: black;
  }
</style>