---
import "../styles/global.css"
---

<header>
  <nav>
    <a href="/">SunbearDay</a>
  </nav>
</header>

<style>
  header {
    margin-bottom: 2rem;
  }

  header nav {
    max-width: var(--main-width);
    margin-inline: auto;
  }

  header a {
    text-decoration: none;
    font-size: 1.5em;
    padding-block: 0.5em;
    display: block;
  }
</style>