---
import "../styles/global.css"
---

<header>
  <a href="/">SunbearDay</a>
</header>

<style>
  header {
    margin-bottom: 2rem;
    display: flex;
  }

  header a {
    text-decoration: none;
    font-size: 1.5em;
    padding-block: 0.5em;
    color: var(--color-black);
  }
</style>